*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #434455;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.logo_style {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: flex;
  margin-right: 76px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo_style > span {
  color: #2e2f42;
}

.studio_style {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: flex;
  gap: 40px;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  color: #404bbf;
}

.current:after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.studio_style:hover,
.studio_style:focus {
  color: #404bbf;
}
.address_style {
  display: none;
}

.kontakt_style {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.kontakt_style:hover,
.kontakt_style:focus {
  color: #404bbf;
}

.firstsec_style {
  background-color: #2e2f42;
  text-align: center;
  padding: 72px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 320px;
  background-position: center;
  margin: 0 auto;
}

.firsthead {
  font-size: 36px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
  max-width: 216px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.blue-button {
  background-color: #4d5ae5;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.blue-button:focus,
.blue-button:hover {
  background-color: #404bbf;
}

.thirdhead {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.thirdhead.mobile-h2 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

.sectiontwo_text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-weight: 500;
}

.thirdsec {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.secondhead {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 72px;
}

.listpointthird {
  background-color: #ffffff;
  gap: 24px;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.workersdesc {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.text_third_p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}

.fourthhead {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio_head {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio_p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

.footer_logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: block;
  margin-right: 0;
  align-content: center;
  text-align: center;
  padding: 0;
  margin-bottom: 16px;
}

.footer_span {
  color: #f4f4fd;
}

.footer_txt {
  line-height: 1.5;
  size: 12px;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
  display: block;
  width: 100%;
}

.header_style {
  padding: 16px;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-navi-list {
  display: none;
}

.right-navi-list {
  display: flex;
  padding: 24px 0;
  gap: 40px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-two-list {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}

.secondsec_style {
  padding: 96px 0;
  display: flex;
}

.people_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 72px;
}

.list_points_sec_two {
  display: flex;
  flex-direction: column;
}

.workername {
  padding: 32px 0px;
}

.fourthsec_style {
  padding: 96px 0;
}

.list_sec_four {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  margin: 0 auto;
}

.list_points_sec_four {
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list_points_sec_four:focus,
.list_points_sec_four:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.aplication {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.sm_icons {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.sm_size {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sm_link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sm_link:focus,
.sm_link:hover {
  background-color: #404bbf;
}

.sm_style {
  fill: #f4f4fd;
}

.portfolio_content {
  position: relative;
  overflow: hidden;
}

.list_points_sec_four:hover .text_transition {
  transform: translate(0);
}

.text_transition {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 0px;
}

.sm_footer {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  display: block;
  text-align: center;
  margin-bottom: 16px;
}

.footer_text {
  margin: 0 auto;
}

.sm_footer_icons {
  display: flex;
  gap: 16px;
}

.sm_footer_size {
  width: 40px;
  height: 40px;
}

.sm_footer_style {
  fill: #f4f4fd;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sm_footer_icon {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sm_footer_icon:hover,
.sm_footer_icon:active,
.sm_footer_icon:focus {
  background-color: #31d0aa;
}

.sub-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: white;
  background-color: #4d5ae5;
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}

.subscribe {
  margin: 0;
}

.sub-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  gap: 16px;
}

.input-sub {
  padding-left: 16px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  align-content: center;
  outline: none;
  background-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 623px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  padding: 72px 24px 24px 24px;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  top: 24px;
  right: 24px;
  background-color: #e7e9fc;
  fill: #2e2f42;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.icon-form-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:active,
.button-close:hover,
.button-close:focus {
  background-color: #404bbf;
  border: none;
  fill: white;
}

.window-head {
  color: #2e2f42;
  text-align: center;
  font-weight: 500;
  margin-bottom: 16px;
}

.contact-window {
  display: flex;
  flex-direction: column;
}

.form-field {
  margin-bottom: 8px;
}
.form-field:focus-within {
  border-color: #4d5ae5;
}

.form-field:focus-within .icon-form {
  fill: #4d5ae5;
}

.form-input:focus {
  border-color: #4d5ae5;
}

.form-label {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  padding: 0;
  display: block;
  margin-bottom: 4px;
}

.field {
  width: 100%;
  height: 40px;
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  outline: transparent;
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-form {
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.last {
  margin-bottom: 16px;
}

.comment-section {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  outline: transparent;
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  resize: none;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-section:focus-within {
  border-color: #4d5ae5;
}

.checkbox {
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
.checkbox-accept {
  display: flex;
  margin-bottom: 24px;
}

.checkbox:active {
  background-color: #404bbf;
}

.check {
  cursor: pointer;
}

.check:checked + .user-privacy-style span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.privacy {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.privacy-link {
  color: #4d5ae5;
}

.button-send {
  display: block;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: white;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  margin: 0 auto;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-privacy-style {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.icon-ham {
  fill: #2f2f37;
  cursor: pointer;
}

.menu-hamburger {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  background-color: #fff;
  padding-top: 72px;
  padding-left: 16px;
  padding-bottom: 40px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(100%);
}

.right-navi-list-set.ham {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 48px;
}

.left-navi-list.ham {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 40px;
  margin-bottom: auto;
}

.link.ham.current {
  color: #404bbf;
}

.container_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.current::after {
  content: '';
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.right-navi-list.ham {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0;
}

.link.ham {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding: 0;
}

.kontakt_style.ham {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.menu-hamburger.is-open-ham {
  transform: translateX(0);
}

.menu-icon-ham {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.close-btn {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  top: 24px;
  right: 24px;
  background-color: #e7e9fc;
  fill: #2e2f42;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.close-btn:active,
.close-btn:hover,
.close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: white;
}

.sm_footer.ham {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-top: 48px;
}

@media (min-resolution: 192dpi) {
  .firstsec_style {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-mobile@2x.jpg);
  }
}

/* ================================================= MOBILE ========================================= */
@media screen and (max-width: 767px) {
  .icons {
    display: none;
  }
}
/* ================================================= TABLET ========================================= */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .icons {
    display: none;
  }

  .section-two-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }

  .list_points_sec_two {
    width: calc((100% - 24px) / 2);
  }

  .people_list {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    column-gap: 24px;
    row-gap: 64px;
  }

  .list_sec_four {
    justify-content: center;
    row-gap: 72px;
  }

  .list_points_sec_four {
    width: calc((100% - 24px) / 2);
  }

  .firstsec_style {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-tablet.jpg);
    max-width: 768px;
    padding: 112px 0;
  }

  .menu-hamburger,
  .menu-icon-ham {
    display: none;
  }

  .address_style {
    font-style: normal;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .left-navi-list {
    display: flex;
    gap: 40px;
  }

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
      0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    padding: 72px 24px 24px 24px;
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .firsthead {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
  }

  .right-navi-list {
    flex-direction: column;
    gap: 12px;
    padding: 16px;
  }
}

@media (min-width: 768px) and (min-resolution: 192dpi) {
  .firstsec_style {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-tablet@2x.jpg);
  }
}

/* ================================================= DESKTOP ========================================= */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .right-navi-list {
    flex-direction: row;
    padding: 24px 0;
    gap: 40px;
  }
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.list_points_sec_two {
  width: calc((100% - 24px) / 4);
}

.list_sec_four {
  column-gap: 24px;
  row-gap: 48px;
}

.list_points_sec_four {
  width: calc((100% - 48px) / 3);
}

.firstsec_style {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-desktop.jpg);
  max-width: 1440px;
  padding: 188px 0;
}

.section-two-list {
  flex-wrap: nowrap;
}

.container_footer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.sub-form {
  flex-direction: row;
}

@media screen ((min-width: 1158px) and (min-resolution: 192dpi)) {
  .firstsec_style {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-desktop@2x.jpg);
  }
}
